.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #FFC200;
}
a {
  color: inherit;
}
#form-fields {
  padding-bottom: 1em;
  padding-top: 1em;
}
.btn-arrange-group {
  margin-top: 31px;
}
#new-field-container {
  padding-top: 1.5em;
}
#forms-table .selected {
  background: #ffe69b;
}