<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <input ng-model="model.searchedMovie" type="text" class="form-control" placeholder="Star Wars">
      <span class="input-group-btn">
        <button ng-click="model.search()" class="btn btn-secondary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="text-xs-center form-header">Search Results</h1>
    <div class="pull-xs-right">
      <div class="btn-group" role="group" aria-label="Pagination">
        <button ng-hide="$root.currentPage == 1 || !($root.currentPage)" ng-click="model.getPage('p')" type="button" class="btn btn-primary">Prev</button>
        <button ng-hide="!($root.currentPage) || model.movies.length == 0" ng-click="model.getPage('n')" type="button" class="btn btn-success">Next</button>
      </div>
    </div>
    <div class="table-responsive">
      <p class="lead" ng-show="model.movies.length == 0">Nothing to see here until you get searching, or there are no results left!</p>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- Row for adding movie -->
        <thead ng-show="$root.currentUser && $root.currentUser.roles.indexOf('admin') > -1">
          <tr>
            <th>{{model.editID}}</th>
            <th><input ng-model="model.editMoviePoster" type="text" class="form-control" placeholder="Poster URL"></th>
            <th><input ng-model="model.editMovieTitle" type="text" class="form-control" placeholder="Movie Title"></th>
            <th>{{model.editMovieYear}}</th>
            <th class="action-buttons">
              <a ng-click="model.addMovie()" class="btn btn-primary"><i class="fa fa-plus-square-o"></i></a>
              <a ng-click="model.updateMovie(model.editID)" class="btn btn-success"><i class="fa fa-check"></i></a>
            </th>
          </tr>
        </thead>

        <!-- Template for search results -->
        <tbody ng-hide="model.movies.length == 0" ng-model="model.movies" ng-repeat="movie in model.movies">
          <tr data-imdb-id="{{movie.imdbid}}">
            <td>{{movie.imdbid}}</td>
            <td><img class="poster" ng-src="{{movie.poster.indexOf('http') > -1 ? movie.poster : model.noPoster}}"></td>
            <td>
              <p>{{movie.title}}</p>
            </td>
            <td>{{movie.year}}</td>
            <td class="action-buttons">
              <a ng-show="$root.currentUser" ng-click="model.toggleDetails($index, movie.imdbid)" class="btn btn-success">
                <i class="fa fa-info"></i>
              </a>

              <span>
                <a ng-show="$root.currentUser" ng-href="#/write-review/{{movie.imdbid}}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                <a ng-href="#/read-review/{{movie.imdbid}}" class="btn btn-primary"><i class="fa fa-newspaper-o"></i></a>
              </span>

              <a ng-show="$root.currentUser && $root.currentUser.roles.indexOf('admin') > -1" ng-click="model.deleteMovie(movie, $index)" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
              <button ng-show="$root.currentUser" ng-click="model.favoriteMovie($index)" class="btn btn-danger"><i class="fa fa-heart"></i></button>
              <a ng-show="$root.currentUser && $root.currentUser.roles.indexOf('admin') > -1" ng-click="model.selectMovie($index)" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
            </td>
          </tr>
          <tr ng-show="model.activePosition === $index">
            <td>{{model.title}}&nbsp;({{model.year}})</td>
            <td>Rated {{model.rated}}</td>
            <td>
              <h3>Plot</h3>
              <p>{{model.plot}}</p>
              <h3>Actors</h3>
              <p>{{model.actors}}</p>
              <h3>Director</h3>
              <p>{{model.director}}</p>
            </td>
            <td>
              <h5>Number of Potatoes</h5>
              <p>{{model.numLikes}}</p>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>