<div class="row">
  <div class="col-md-12">
    <h1>Reviews</h1>
    <p class="lead">
      You are now viewing all reviews submitted for {{model.imdbID}}.
    </p>

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Content</th>
            <th ng-show="$root.currentUser.role == 1">Actions</th>
          </tr>
        </thead>

        <thead ng-show="$root.currentUser.role == 1">
          <tr>
            <th><input ng-model="model.reviewTitleSubmission" type="text" class="form-control" placeholder="Review Title"></th>
            <th><input ng-model="model.reviewAuthorSubmission" type="text" class="form-control" placeholder="Author ID"></th>
            <th><input ng-model="model.reviewCreatedSubmission" type="date" class="form-control" placeholder="Date"></th>
            <th><textarea ng-model="model.reviewContentSubmission" type="text" class="form-control" placeholder="Review Content" rows="4"></textarea></th>
            <th class="action-buttons">
              <a ng-click="model.createReview()" class="btn btn-primary"><i class="fa fa-plus-square-o"></i></a>
              <a ng-click="model.updateReview()" class="btn btn-success"><i class="fa fa-check"></i></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="review in model.reviews">
            <td>{{review.title}}</td>
            <td><a ng-href="#/profile/{{review.author}}">{{review.author}}</a></td>
            <td>{{review.created}}</td>
            <td>{{review.content}}</td>
            <td ng-show="$root.currentUser.role == 1" class="action-buttons">
              <a ng-click="model.deleteReview(review._id, $index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
              <a ng-click="model.selectReview($index)" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>