<div class="row">
  <div class="col-md-12">
    <h1>Review Submission</h1>
    <p class="lead">
      You are now submitting a review for {{model.imdbID}}. Please be mindful of language and content.
    </p>

    <form>
      <div class="form-group row">
        <label for="review-title" class="col-sm-2 control-label">Title</label>
        <div class="col-md-12">
          <input ng-model="model.reviewTitle" type="text" class="form-control" name="review-title" id="review-title" placeholder="A New Eden, Both Cosmic and Cinematic">
        <small class="text-muted">
          Give a title for this review to catch people's attention!
        </small>
        </div>
      </div>

      <div class="form-group row">
        <label for="review-content" class="col-sm-2 control-label">Review</label>
        <div class="col-md-12">
          <textarea ng-model="model.reviewContent" class="form-control" ng-model="model.reviewContent" name="review-content" id="review-content" rows="3" placeholder="I really enjoyed this movie and the acting in it..."></textarea>
          <small class="text-muted">
            Now, it's time to write a riveting review. What were your likes, dislikes, general thoughts?
          </small>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <button class="btn btn-primary" type="submit">Submit Review</button>
        </div>
      </div>
    </form>
  </div>
</div>