<h1 class="page-header">Login</h1>

<form class="form-horizontal" action="profile.view.html">
  <div class="form-group">
    <label for="input-username-login" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="input-username-login" id="input-username-login" placeholder="Username">
    </div>
  </div>

  <div class="form-group">
    <label for="input-password-login" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="input-password-login" id="input-password-login" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default btn-block" type="submit">Login</button>
    </div>
  </div>
</form>