<div ng-controller="MovieController" class="row">
  <div class="col-md-12">
    <div class="pull-xs-left">
      <h3>Search Results</h3>
    </div>
    <div class="pull-xs-right">
      <div class="btn-group" role="group" aria-label="Pagination">
        <button ng-hide="$root.currentPage == 1 || !($root.currentPage) || $root.hideTable" ng-click="getPrevPage()" type="button" class="btn btn-primary">Prev</button>
        <button ng-hide="!($root.currentPage) || $root.hideTable" ng-click="getNextPage()" type="button" class="btn btn-success">Next</button>
      </div>
    </div>
    <div class="table-responsive">
      <p class="lead" ng-hide="$root.hideMessage">No more results! Click previous to go back!</p>
      <table ng-hide="$root.hideTable" class="table">
        <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- Row for adding movie -->
        <thead>
          <tr>
            <th></th>
            <th><input ng-model="moviePoster" type="text" class="form-control" placeholder="Poster URL"></th>
            <th><input ng-model="movieTitle" type="text" class="form-control" placeholder="Movie Title"></th>
            <th><input ng-model="movieYear" type="number" class="form-control" placeholder="Movie Year"></th>
            <th>
              <button class="btn btn-primary"><i class="fa fa-plus-square-o"></i></button>
              <button class="btn btn-success"><i class="fa fa-check"></i></button>
            </th>
          </tr>
        </thead>

        <!-- Template for search results -->
        <tbody ng-repeat="movie in $root.movies">
          <tr data-imdb-id="{{movie.imdbID}}">
            <td>{{movie.imdbID}}</td>
            <td><img class="poster" ng-src="{{movie.Poster}}"></td>
            <td>{{movie.Title}}</td>
            <td>{{movie.Year}}</td>
            <td class="action-buttons">
              <a ng-click="toggleDetails($index, movie.imdbID)" class="btn btn-success">
                <i class="fa fa-info"></i>
              </a>

              <span g-controller="ReviewController">
                <a ng-href="#/write-review/{{movie.imdbID}}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                <a ng-href="#/read-review/{{movie.imdbID}}" class="btn btn-primary"><i class="fa fa-newspaper-o"></i></a>
              </span>

              <a class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
              <a class="btn btn-danger"><i class="fa fa-heart"></i></a>
              <a class="btn btn-primary"><i class="fa fa-pencil"></i></a>
            </td>
          </tr>
          <tr ng-show="activePosition === $index">
            <td>{{title}}&nbsp;({{year}})</td>
            <td>Rated {{rated}}</td>
            <td>
              <h3>Plot</h3>
              <p>{{plot}}</p>
              <h3>Actors</h3>
              <p>{{actors}}</p>
              <h3>Director</h3>
              <p>{{director}}</p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>