<div class="row">
  <div class="col-md-12">
    <h3>Top {{model.numTopMovies}} Favorited Movies</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Liked By</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movie in model.topMovies">
            <td>
              <img class="img-fluid poster" ng-src="{{movie.poster}}">
              Number of Potatoes: {{movie.likes.length}}
            </td>
            <td>{{movie.title}}</td>
            <td>
              <ul class="list-inline">
                <li ng-repeat="user in movie.likes">
                  <a ng-href="#/profile/{{user}}">{{user}}</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>