<div ng-controller="HeaderController as model" class="main-header">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">
      <h1 class="display-4">Fresh Potatoes</h1>
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li ng-hide="$root.currentUser" class="nav-item">
        <a class="nav-link" href="#/login">Login</a>
      </li>
      <li ng-hide="$root.currentUser" class="nav-item">
        <a class="nav-link" href="#/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/search">Search</a>
      </li>
      <li ng-show="$root.currentUser" class="nav-item">
        <a class="nav-link" ng-href="#/profile/{{$root.currentUser._id}}">Profile</a>
      </li>
      <li ng-show="$root.currentUser && $root.currentUser.roles.indexOf('admin') > -1" class="nav-item">
        <a class="nav-link" href="#/users">Users</a>
      </li>
      <li ng-show="$root.currentUser" class="nav-item">
        <a ng-click="model.logout()" href="#/" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</div>